.vs/
APPPInCSharp_AcyclicVistorPattern.Console/bin/
APPPInCSharp_AcyclicVistorPattern.Console/obj/
APPPInCSharp_AcyclicVistorPattern.UnitTests/bin/
APPPInCSharp_AcyclicVistorPattern.UnitTests/obj/
packages/
